@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero {
    min-height: 100vh;
    background: url('fireflyquiz.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: yellowgreen;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.main {
    margin: auto;
    width: 100%;
    background-color: #e8c37f;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    overflow: hidden;
    gap: 40px;
  }
  
  .card {
    flex: 0 0 calc(20% - 40px);
    display: flex;
    flex-flow: column;
    background-color: pink;
    color: black;
    font-family: 'Lexend', sans-serif;
    padding: 40px;
    gap: 20px;
  }
  
  .card > img {
    border-radius: 100%;

  }
  
  .card > h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: capitalize;
  }
  
  .card > button {
    margin: auto 0 0;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
  }

  .bottom {
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    align-items: center;
  }
  
@media screen and (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: seagreen;
        z-index: 100;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

}
