body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background-colour: var(--bg-colour);
    colour: var(--text-colour);
    transition: background-colour 0.3s ease, colour 0.3s ease;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dark-mode {
    --bg-colour: #1a1a1a;
    --text-colour: #fff;
}
