body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timeline {
    display: grid;
    grid-template-columns: 2fr 10fr; /* Adjust the ratio as needed */
    grid-template-rows: 2px;
}

#line {
    grid-row: 1;
    grid-column: 2;
    height: 2px;
    background-color: #555;
}

#nodes {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.event {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    z-index: 2;
}

.event-description {
    display: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
