:root{
    /* Fonts */
    --header-font: 'Abril Fatface', serif;
    --text-font: 'Poppins', sans-serif;
    
    --light-background-colour: #FFFBF5;
    --light-foreground-colour: #F7EFE5;
    --light-highlight-1: #C3ACD0;
    --light-highlight-2: #7743DB;
    --dark-background-colour: #0F0F0F;
    --dark-foreground-colour: #232D3F;
    --dark-highlight-1: #005B41;
    --dark-highlight-2: #008170;
    --dungeon-background-colour: #22092C;
    --dungeon-foreground-colour: #872341;
    --dungeon-highlight-1: #BE3144;
    --dungeon-highlight-2: #F05941;

    /* Actual colour variables */
    
    --background-colour: #FFFBF5;
    --foreground-colour: #F7EFE5;
    --highlight-1: #C3ACD0;
    --highlight-2: #7743DB;
    --text-colour: #000000;
    --light-text-colour: #FFFFFF;
}

* {
    transition: .4s ease-in-out;
}

body {
    background-color: var(--background-colour);
    color: --text-colour;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh; /* Make the content fill the page so the footer is at the bottom */
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center if the browser is really wide */
    min-width: 25rem; /* Don't let the content get too narrow */
    max-width: 70rem; /*  Don't let the content get too wide */
    padding: 0;
}

/* Navigation styling */

.navigation-header {
    background-color: var(--foreground-colour);
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: var(--header-font);
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container > a {
    color: var(--highlight-2);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
}

.navigation-items {
    display: flex;
    gap: 40px;
}

.navigation-items > a {
    color: var(--highlight-2);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.navigation-items > a:hover {
    color: var(--highlight-1);
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: var(--highlight-2);
}

/* Colour picker */

.colourbtn {
    background-color: var(--highlight-1);
    color: var(--text-colour);
    padding: 14px;
    font-size: 14px;
    border: none;
    min-width: 140px;
    font-family: var(--header-font);
}

.colour-dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.colour-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--highlight-2);
    min-width: 140px;
    z-index: 2;
}

.colour-dropdown-content a {
    color: var(--light-text-colour);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: var(--text-font);
}

.lightTheme:hover {
    background-color: var(--light-foreground-colour);
    color: var(--light-highlight-2);
}

.darkTheme:hover {
    background-color: var(--dark-foreground-colour);
    color: var(--dark-highlight-2);
}

.dungeonTheme:hover {
    background-color: var(--dungeon-foreground-colour);
    color: var(--dungeon-highlight-2);
}

.colour-dropdown:hover .colour-dropdown-content {
    display: block;
}

.colour-dropdown:hover .colourbtn {
    background-color: var(--highlight-2);
    color: var(--light-text-colour);
}

@media screen and (max-width:768px) {
    
    .hamburger {
        display: flex;
        cursor: pointer;
    }
    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: var(--foreground-colour);
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }

    .colour-dropdown {
        margin-left: auto;
        padding-right: 10px;
    }
}