@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html {
  font: 300 15px/1.8 "Lato", sans-serif;
}

body {
  margin: 0;
}

main {
  padding-left: 20vw;
  width: 80vw;
}

.img_section {
  object-fit: contain;
  width: 50vw;
}

section {
  height: 100vh;
}

.topcat {
  background-image: url("coolCat.jpeg");
  background-size: cover;
  background-position: fixed;
}

.crawl {
  margin-top: 0;
  opacity: 0;
  transform: translateX(-300px);
  transition: all 2s ease-out;
  transition-delay: 0.4s;
  z-index: -1;
}

.start-crawl {
  opacity: 1;
  transform: translateX(10vw);
}

p {
  font-size: 3cqh;
}

.topslug {
  background-image: url("coolSnail.jpeg");
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}

@keyframes enterFromSides {
  to {
    opacity: 1;
    transform: translateX(30vw);
  }
}

.snail_letter {
  display: inline-block;
  opacity: 0;
  animation: enterFromSides 0.8s ease-in-out forwards;
  font-size: 5cqh;
  transform: rotate(90deg);
}

.snail_letter:nth-child(3) {
  animation-delay: 0.1s;
  transform: translateX(30vw);
}

.snail_letter:nth-child(1),
.snail_letter:nth-child(2) {
  animation-delay: 0.7s;
  transform: translateX(0vw);
  transform: rotate(90deg);
}

.snail_letter:nth-last-child(1),
.snail_letter:nth-last-child(2) {
  animation-delay: 0.4s;
  transform: translateX(100vw);
  transform: rotate(90deg);
}

/* NAV BAR */

.navigation {
  background-color: #49d4cf;
  color: rgb(0, 0, 0);
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 20vw;
  font-size: 3cqw;
  font-weight: 900;
}

.navigation a:hover {
  color: #bffbfd;
}

.navigation ul {
  padding: 20px;
  margin: 0;
  list-style: none;
}

.navigation li {
  margin-bottom: 2px;
}

.navigation a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* VIEWPORT MARKER*/

#mark {
  width: 100%;
  position: fixed;
  bottom: 50%;
  text-align: center;
  font-size: 2rem;
  border-bottom: dashed 2px currentColor;
  text-shadow: 0 0 3px black;
}
