@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html {
  font: 300 15px/1.8 "Lato", sans-serif;
}

body {
  margin: 0;
}

main {
  padding-left: 20vw;
  width: 80vw;
}

.img_section {
  object-fit: contain;
  width: 50vw;
  position: sticky;
  top: -1rem;
}

section {
  height: 100vh;
}

.rise {
  animation: rising 2s ease;
}

@keyframes rising {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}

.snail {
  margin-top: 0;
  opacity: 0;
  transform: translateX(-300px);
  transition: all 2s ease-out;
  transition-delay: 0.4s;
  z-index: 2;
  scale: 50%;
}

.start-crawl {
  opacity: 1;
  transform: translateX(10vw);
}

p {
  font-size: 3cqh;
  padding-left: 9rem;
}

.topimage {
  background-image: url("garden.jpeg");
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}

@keyframes enterFromSides {
  to {
    opacity: 1;
    transform: translateX(20vw);
  }
}

/* NAV BAR */

.navigation {
  background-color: #49d4cf;
  color: rgb(0, 0, 0);
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 20vw;
  font-size: 3cqw;
  font-weight: 900;
}

.navigation a:hover {
  color: #bffbfd;
  transition: all 500ms;
}

.navigation ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
}

.navigation li {
  margin-bottom: 2px;
}

.navigation a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* VIEWPORT MARKER*/

#mark {
  width: 80%;
  position: fixed;
  bottom: 50%;
  text-align: center;
  font-size: 2rem;
  border-bottom: dashed 2px currentColor;
  text-shadow: 0 0 3px black;
}

/* STICKY HEADING*/

.sentinal {
  /* DOM element for triggering the intersection observer event */
  /* you can use 'height' to determine when the event is triggered */
  height: 1rem;
  position: relative;
  top: 0;
  right: 0;
  background-color: #f10c49;
  opacity: 0.1;
}

.header {
  color: black;
  background-color: white;
  opacity: 0.6;
  position: sticky;
  top: 0rem;
  left: 1rem;
  padding: 2rem;
  line-height: 2;
  box-decoration-break: clone;
  z-index: 0;
  transition: all 300ms;
  will-change: color, background-color;

  &.enabled {
    color: white;
    background-color: #a70267;
    opacity: 1;
  }
}
