body,
  html {
    height: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
    margin: 0;
  }
  
body {
    background: linear-gradient(to right, #ffffff, #e9e9e9);
    overflow-x: hidden;
    transition: background 0.3s, color 0.3s;
    margin: 0;
  }

  main {
    padding: 20px;
    min-height: 72.5%;
    width: 100%;
    box-sizing: border-box;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 90%;
    height: 5%;
    padding: 20px 100px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #FFDB58;
    text-decoration: none;
    font-weight: 700;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


.navbar a {
    position: relative;
    font-size: 18px;
    color: #e6b400;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

footer {
  background-color: rgb(0, 0, 0);
  color: #e6b400;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
}


/* Create a comic */
.character-sheet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.name-section,
.class-section,
.description-section,
.origin-section {
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: calc(100% - 32px); 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#description-input,
#origin-input, #class-input {
    width: 500px; 
    box-sizing: border-box;
}

#description-input textarea,
#origin-input textarea {
    height: 100px; 
}

#description-display,
#origin-display {
    flex: 1; 
    box-sizing: border-box;
}

#name-span, 
#class-span,
#description-span,
#origin-span {
  margin: 22px;
  font-size: 18px;
}


#summary-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: none;
  justify-self: center;
}

#summary-section h2 {
  text-align: center;
  color: #333;
}

#summary-section p {
  text-align: center;
  margin-top: 10px;
  color: #007BFF;
}

/* Light mode */
.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
.toggle-label {
    margin-left: 10px;
    color: #fff;
  }

  .hero-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 700px;
}

/* Logout */
#logoutIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff; 
  margin-top: 20px; 
}

#logoutIcon i {
  margin-right: 5px; 
}

/* Hero Slider */
.hero-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.hero-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.hero-slide img {
    width: 100%;
    height: auto;
}

.hero-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#background {
  width: 70%;
  height: 50%;
  background-color: var(--background-colour);
  border: none;
  color: var(--text-colour);
}

#background-display {
  display: none;
  justify-content: space-between;
  margin: 20px;
}

/* Captcha */

#image{
	margin-top: 10px;
	box-shadow: 5px 5px 5px 5px gray;
	width: 60px;;
	padding: 20px;
	font-weight: 400;
	padding-bottom: 0px;
	height: 40px;
	user-select: none;
	text-decoration:line-through;
	font-style: italic;
	font-size: x-large;
	border: red 2px solid;
	margin-left: 10px;
	
}
#user-input{
	box-shadow: 5px 5px 5px 5px gray;
	width:auto;
	margin-right: 10px;
	padding: 20px;
	padding-bottom: 0px;
	height: 50px;
	border: red 0px solid;
}
input{
	border:1px black solid;
  height: 30px;
  width: auto;
}
.inline{
	display:inline-block;
}

#captchaSection {
  text-align: center;
}

#btn{
	box-shadow: 5px 5px 5px grey;
	color: aqua;
	margin: 10px;
	background-color: brown;
  width: auto;
}

/* Responsive styles */


@media only screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .navbar.show {
    display: flex;
  }

  .navbar a {
    margin: 10px 0;
  }

  .toggle-container {
    margin-top: 10px;
  }

  .hero-container {
    height: 300px;
  }

  .hero-slide img {
    height: 100%;
  }
  
}


/* Dark Mode Styles */
body.dark-mode {
    background: linear-gradient(to right, #d2cfcf, #bcb7bc);
    color: #ffffff;
  }
  
.dark-mode .navigation {
    background-color: #8e6363;
  }
  
.dark-mode .year {
    color: #fff;
  }
  

.dark-mode .logo {
    color: rgb(243, 239, 239);
    
}

.dark-mode .navbar a {
  color: #ffffff;
}

.dark-mode .header {
  background: #e6b400;
}

.dark-mode footer {
  background-color: #e6b400;;
  color: #ffffff;

}


