.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: rgb(46, 54, 139);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #FFDB58;
    text-decoration: none;
    font-weight: 700;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


.navbar a {
    position: top;
    font-size: 18px;
    color: #FFDB58;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: yellowgreen;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

input:checked + .slider {
    background-color: #2196f3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.toggle-label {
    margin-left: 10px;
    color: #fff;
  }
/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #ffffff;
  }
  
.dark-mode .navigation {
    background-color: #8e6363;
  }
  
.dark-mode .year {
    color: #fff;
  }
  
.dark-mode .event-description {
    background-color: #000;
    color: #fff;
  }
  
body,
  html {
    height: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
    margin: 0;
  }
  
body {
    background: linear-gradient(to right, #4caf50, #2196f3);
    overflow: hidden;
    transition: background 0.3s, color 0.3s;
    margin: 0;
  }
  